/*-- scss:defaults --*/


$body-bg:        #2b2a32;
$body-color:     #ffffff;   


$navbar-bg:                #1c1b21;
$navbar-fg:                #ffffff;
$navbar-color:             #ffffff;


$link-color:        #64B5F6;  
$link-hover-color:  lighten($link-color, 15%);



$border-color:      #555054;

$code-bg: #3a3943;
$code-color: #ffffff;


$code-block-bg: #3a3943;